@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.inputel {
  padding: 10px 15px;
  width: 80%;
  border: 1px solid #00005e;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputel:focus {
  border-color: #3b82f6;
  outline: none;
}

.inputel::placeholder {
  color: #7a7a7a;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00005e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
  transform: scale(1);
}

.btn:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}

.searchResult {
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 0;
  color: #00005e;
}

p {
  margin: 5px 0;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  margin-top: 10px;
  width: 20%;
  border-radius: 8px;
}
